*{	margin:0; 
	padding:0;
	vertical-align:baseline;
	list-style:none;
}

.box{
    margin: 0 auto;
    width: 100%;
    height: auto;
    background-color: #87CEEB;
}

.menu-full{
	width: 100%;
	float: left;
	position: fixed;
	background-color: #87CEEB;
	margin: 0 auto;
	height: 100px;
	-webkit-box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.75);
}

.menu-full ul{
	margin: 0 auto;
	width: 940px;
	padding: 0px 5px;
	list-style: none;
}

.menu-full ul li{
	float: left;
	margin: 0px 25px;
	text-align: center;
	display: inline;
}

.menu-full ul li a{
    padding: 21px 0;
    display: inline-block;
    color: #FFF;
    margin-top: 15px;
    text-align: center;
    text-decoration: none;
    font-family: verdana, sans-serif;
    font-size: 18px;
}

.menu-full ul li a:hover{
	color: #6D6D6D;
    border-bottom: 2px solid white;
    text-shadow:1px 2px 1px #000;
    -webkit-transition-property:color, background, border;  
    -moz-transition-property:color, background, border;  
    -o-transition-property:color, background, border;  
    transition-property:color, background, border;  

    -webkit-transition-duration:0.3s;  
    -moz-transition-duration:0.3s;  
    -o-transition-duration:0.3s;  
    transition-duration:0.3s;  

    -webkit-transition-timing-function:linear;  
    -moz-transition-timing-function:linear;
    -o-transition-timing-function:linear; 
    transition-timing-function:linear;
}

.menu-full img{
	border: none; 
	color: transparent;
	border-bottom: none;
	margin-top: -28px;
}

.content{
	background-color: white;
	margin: 0 auto;
	-webkit-box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.75);

}

.img-topo{
	margin: 90px auto;
	float: left;
	width: 100%;
	-webkit-box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.75);
}

.clear{
	clear: both;
} 

.interacao-full{
	margin: -70px auto;
	top: 10px;
	width: 1300px;
	height: 1000px; /*Provisório*/
	border-radius: 8px 8px 8px 8px;
	-moz-border-radius: 8px 8px 8px 8px;
	webkit-border-radius: 8px 8px 8px 8px;
	border: 0px solid black;
	-webkit-box-shadow: -3px -1px 43px 7px rgba(0,0,0,0.51);
	-moz-box-shadow: -3px -1px 43px 7px rgba(0,0,0,0.51);
	box-shadow: -3px -1px 43px 7px rgba(0,0,0,0.51);
}

.content-interacao{
	width: 330px;
	float: left;
	left: 30px;
	background-color: white;
	margin: 20px 50px auto;
	height: auto;
	
}

.content-interacao img{
	float: right;
	top: 10px;
	margin: 15px 135px;
}

.content-interacao h3{
	text-align: center;
	margin: 10px auto;
	font-size: 15px;
	font-family:Century Gothic,arial,sans-serif;
	background-color: white;
	color: black;
	left: -10px;
	padding: 7px 0;
}

.content-interacao p{
	padding: 10px;
	font:Century Gothic,arial,sans-serif;
	margin: 3px auto;
	width: 300px;
	text-align: justify;
	font-family: arial;
	font-size: 15px;
}
